---
- name: "Descobrir o próximo VMID livre"
  community.general.proxmox_facts:
    api_user: "{{ lookup('env', 'proxmox_api_user') }}"
    api_password: "{{ lookup('env', 'proxmox_api_secret') }}"
    api_host: "{{ lookup('env', 'proxmox_api_host') }}"
  register: proxmox_info
  run_once: true

- name: "Calcular o próximo VMID disponível"
  ansible.builtin.set_fact:
    existing_vmids: "{{ proxmox_info.proxmox_vms | map(attribute='vmid') | list }}"
    next_vmid: "{{ (existing_vmids | select('>=', vmid_range_start) | max | default(vmid_range_start - 1)) + 1 }}"
  run_once: true

- name: "[CRIAR] Clonar e configurar a VM {{ vm_name_prefix }}-{{ loop_index + 1 }}"
  community.general.proxmox_kvm:
    api_user: "{{ lookup('env', 'proxmox_api_user') }}"
    api_password: "{{ lookup('env', 'proxmox_api_secret') }}"
    api_host: "{{ lookup('env', 'proxmox_api_host') }}"
    node: "{{ proxmox_node_name }}"
    
    vmid: "{{ next_vmid | int + loop_index }}"
    name: "{{ vm_name_prefix }}-{{ loop_index + 1 }}"
    clone: "{{ template_name }}"
    
    cores: "{{ default_vm_cores }}"
    memory: "{{ default_vm_memory }}"
    
    ciuser: "{{ default_vm_user }}"
    cipassword: "{{ default_vm_password }}"
    ipconfig0: "ip=dhcp"
    
    state: started
    timeout: 300
  register: vm_info